<div class="note-action">
  <span class="remove" {{action "toggleDeleteRecord"}}></span>
  {{#unless isEditing}}
    <span class="edit" {{action "toggleEditRecord"}}></span>
  {{else}}
    <span class="save" {{action "save"}}></span>
  {{/unless}}
</div>
  {{#unless isEditing}}
    <p>
      {{note.text}}
    </p>
  {{else}}
    {{textarea name="edit" rows="8" cols="40" value=note.text}}
  {{/unless}}
  <h3>Created at: <label>{{moment-format note.createdAt}}</label></h3>
  {{#if isDeleting}}
    {{cmp-delete
      isDeleting = isDeleting
      delete = (action "delete")
    }}
  {{/if}}
